

  <!DOCTYPE html>
  {%extends 'blog/home.html' %}

  {%load blog_tags%}
  {%load staticfiles%}
    {%block homeintroblock%}
  <header class='masthead'>
    <p class='masthead-intro'>Hi I'm</p>
    <h1 class='masthead-heading'>JAGAN!</h1>
  </header>


  <section class="questions-section">

    <p>Welcome to jagasblog.com.Through this blog i am posting python application related posts such as Django,Machine Learning, AI posts.

</p>
    <p>Click the Myblog on top of the page to see the posts.</p>

  </section>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  {%endblock%}
