<!DOCTYPE html>
{%extends 'blog/home.html' %}

{%load blog_tags%}
{%load staticfiles%}
{%block introblock%}
<header class='masthead'>
  <p class='masthead-intro'>Hi I'm</p>
  <h1 class='masthead-heading'>JAGAN!</h1>
</header>

<section class="questions-section">
  <h1>Introduction</h1>
  <p>I am a django web developer.</p>
  <p>I love the internet, technology, and building beautiful things.</p>
  <h1>Where I'm From</h1>
  <p>I'm originally from Andhrapradesh, INDIA. </p>

    <h1>What are your favorite hobbies?</h1>
    <p>My favorite hobby is building things on the internet.</p>
    <h1>What's your dream job?</h1>
    <p>My dream job is similar to my current job.But i expect to be work on  Artificial Intelligence area.</p>
    <h1>Where do you live?</h1>
    <p>Currently i live on Hyderabad.</p>
    <h1>Why do you want to be a web developer or ML/AI engineer?</h1>
    <p>Because programming is awesome and programming for the internet and ML/AI is even more awesome. Django web development by using python and most of ML/AI applications algorithums written in python programming </p>
</section>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container",align='center'>
<div class="container",align='center'>
  <div class="container",align='center'>
<section  class="CV">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;<a href="#"><input type="submit" name="" value="Download My CV"></a>
  &nbsp;&nbsp;<a href="/contact"><input type="submit" name="" value="    Hire Me    "></a>
</section>

</div>
</div>
</div>

<footer class="content-footer">
    <p>Say hi to me on these social networks:</p>
    <ul class="social">
        <li><a class="css-is-deranged" href="_INSERT_GITHUB_URL_HERE_">GitHub</a></li>
        <li><a class="css-is-deranged" href="_INSERT_TWITTER_URL_HERE_">Twitter</a></li>
        <li><a class="css-is-deranged" href="_INSERT_GOOGLE+_URL_HERE_">Google+</a></li>
    </ul>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</footer>
{%endblock%}
